html {
    overflow-y: scroll;
}

.reveal {
    overflow-y: hidden;
    overflow-x: hidden;
}

.rendered_html h1 {
    margin: 1.08em 0 20px;
}

.reveal h1 {
    font-size: 400%;
    text-shadow: none;
}

.reveal h2 {
    font-size: 250%;
}
    
.reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    font-size: 150%;
}

.reveal ol, .reveal ul {
    font-size: 150%;
    line-height: 1.4em;
}

.reveal ol ul {
    font-size: 75%;
    line-height: 1.1em;
}

.reveal li {
    padding: 0.2em; 
}
